@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-serif: var(--font-dm-serif-display);
  --font-sans: var(--font-inter);
}

* {
  text-wrap: pretty;
}

.bg-address {
  background: linear-gradient(to right, white, hsla(0, 0%, 0%, 0%)), url(/images/map.png) center/cover no-repeat;
}

